body{
    margin: 0;
    padding: 0;
}

/* Top-Container */
.main{
    background-color: #EBF0F7;
    color: #2EC1C1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.main h1{
    font-family: 'Cedarville Cursive', cursive;
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 0;
}
body h2{
    font-family:'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 500; 
    color: #2EC1C1;
}
.name_ span{
    text-decoration: underline;
}
.main .mountain{
    width: 100%;
    
}
.cloud_top{
    height: 133px;
    position: absolute;
    top: 5%;
    right: 10%;
    }
.cloud_bottom{
    height: 133px;
    position: absolute;
    bottom:10%;
    left: 10%;

}


/* Middle Container */

.middle_container{
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle_container .profile img{
    height: 130px;
    width: 130px;
    border-radius: 100%;
    overflow: clip;
    overflow-clip-margin: content-box;
}
.middle_container > h2{
    margin-bottom: 100px;
}
.touch{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Skills */

.skills{
    display: grid;
    width: 50%;
    gap: 20px;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 2fr;
}
.skills div{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: start;

}
.skills h4{
    margin-top: 0;
}
.skills p{
    width: auto;
    text-align: start;
    margin: 0;
    padding: 0;
}
.skills > img{
    width: 100%;
    overflow: clip;
    overflow-clip-margin: content-box;
}

/* Footer */

footer{
    background-color: #2EC1C1;
    height: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    font-size: 12px;
}
.socials{
    word-spacing: 25px;
    

}
.socials a{
    color: rgba(128, 128, 128, 0.72);
    text-decoration: none;
    /* outline: yellow; */
}
a:hover{
    text-decoration: none;
    animation: 2s ease-in;
    color: white;
}
footer span{
    font-size: 8px;
    color: white;
}





/* Components */
h4{
    color: #209797;
    font-size: 15px;
    font-family:'Montserrat', sans-serif;
    font-weight: bolder;
}
body p{
    font-family: 'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0.796);
    line-height: 26px;
    font-size: 14px;
    width: 66%;
    text-align: center;
}
hr{
    margin: 50px;
    width: 5%;
    border: 5px #EBF0F7 dotted;
    border-bottom: 0px;
}
body button{
    background-color: #2EC1C1;
    color: white;
    width: 100px;
    height: 33px;
    border: none;
    outline: none;
    text-align: center;
    border-radius: 30px;
    margin: 25px 0;
}
button:hover{
    cursor: pointer;
    /* box-shadow: 2px 2px 10px 1px paleturquoise, -2px -2px 20px 1px black; */
    animation: ease-in 2s;
}
.round{
    border-radius: 50%;   
}
.square {
    border-radius: 10%;
}