body{
    margin: 0;
    padding: 0  ;
}
.mainAccordion {
    margin: 0;
    height: 99dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subAccordion{
    width: 500px;
}

.item{
    background-color: #0f365b59;
    padding: 15px;
    margin: 10px;
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    width: 400px;
}

.item:hover{
    cursor: pointer;
}
