<%- include("./partials/header"); %> 

<!-- for getting the files in the specific location use ./ or do not use at all and also never use / before a folder -->

<h1>HOME </h1>
<p><%= dummyContent %></p>








<%- include("partials/footer"); %>