#ide{
    color: red;    
    background-color: blue;
    }
h1{
    background-color: black;
    color: rebeccapurple;
}
div{
    background-color: white;
}
#divID{
    background-color: white !important;
}
h1{
    background-color: white !important;
    
}