body{
    margin: 0;
    padding: 0;
    background-color: lightblue;
}
h1{
    font-family: 'Lobster', sans-serif;    
    margin: 0;
    font-size: 70px;
    font-weight: lighter;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100dvh;
}

.dices {
    font-family: 'Cedarville Cursive', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40px;

}


.player1, .player2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    gap: 10px;
}

.box{
    height: 260px;
    width: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
}



footer{
    font-family: 'Lobster', sans-serif;    
}